.namid-btn {
  height: 80px;
  padding: 0 64px;
  border-radius: 40px;
  background-color: #F3F8FC;

  font-size: 28px;
  font-weight: 400;
  color: #1F2B43;

  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    filter: grayscale(20%);
  }

  @include ipad {
    height: toRem(112px);
    padding: 0 toRem(90px);
    border-radius: toRem(56px);
    line-height: toRem(112px);
  }

  &.namid-btn-type-orange {
    background-color: #FE6B00;
    color: #fff
  }

  &.namid-btn-type-blue {
    background-color: #00B9FF;
    color: #fff
  }

  &.namid-btn-type-linear-red-orange {
    background: linear-gradient(266deg, #FE4C00 0%, #FE8C00 100%);
    color: #fff
  }

  &.namid-btn-type-linear-yellow-orange {
    background: linear-gradient(90deg, #FFB400 0%, #FE6B00 100%);
    color: #fff
  }

  &.namid-btn-size-sm {
    height: 48px;
    padding: 0 24px;
    border-radius: 24px;
    line-height: 48px;
    font-size: 24px;

    @include ipad {
      height: toRem(68px);
      padding: 0 toRem(24px);
      border-radius: toRem(34px);
      line-height: toRem(68px);
      font-size: toRem(34px);
    }
  }

  &.namid-btn-size-lg {
    height: 100px;
    padding: 0 60px;
    border-radius: 50px;
    font-size: 32px;

    @include ipad {
      height: toRem(140px);
      padding: 0 toRem(84px);
      border-radius: toRem(70px);
      font-size: toRem(45px);
    }
  }

  &.disabled {
    filter: grayscale(20%);
    cursor: not-allowed;
    opacity: 0.8
  }
}