.discount-price {
  display: flex;
  align-items: baseline;
  font-size: 50px;
  font-weight: 500;
  color: #FF322B;
  line-height: 1;

  @include ipad {
    font-size: toRem(70px);
  }

  .unit {
    font-size: 28px;

    @include ipad {
      font-size: toRem(39px);
    }
  }

  &.discount-price-sm {
    font-size: 36px;

    @include ipad {
      font-size: toRem(50px);
    }

    .unit {
      font-size: 24px;

      @include ipad {
        font-size: toRem(33px);
      }
    }
  }

  &.discount-price-lg {
    font-size: 72px;

    @include ipad {
      font-size: toRem(100px);
    }

    .unit {
      font-size: 48px;

      @include ipad {
        font-size: toRem(67px);
      }
    }
  }
}